<template>
  <v-app>
    <v-main>     
              <v-card-text>
                <v-row class="d-flex justify-center">
                  <v-col cols="6">
                    <v-text-field label="Your ToDo" maxlength="33" v-model="newToDo.content" />
                  </v-col>
                  <v-col cols="1">
                    <v-btn large color="primary" v-on:click="save">Save</v-btn>
                  </v-col>    
                </v-row>
              </v-card-text>
             
              <v-card-text>
               
                  <v-card class="mx-auto pa-3 ma-2 text-center" max-width="650" v-for="todo of toDos" :key="todo.id">           
                    <v-row>
                      <v-col cols="9">
                        <v-list-item-title class="headline mb-1">
                         {{todo.content}}
                        </v-list-item-title>
                      </v-col>
                      <v-col cols="1">
                        <v-btn icon color="red" v-on:click="updateContent(todo)">
                          <v-icon >mdi-border-color</v-icon>
                        </v-btn>
                      </v-col>
                      
                      <v-col cols="1">
                        <v-btn icon color="red" v-on:click="updateChecked(todo.id)">
                          <v-icon >mdi-checkbox-marked-outline</v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="1">
                        <v-btn icon color="red" v-on:click="deleteToDo(todo.id)">
                          <v-icon >mdi-delete</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card>
             
              </v-card-text>         

    </v-main>
  </v-app>
</template>

<script>

import ToDo from '../services/toDo';

export default {
  name: 'App',

  components: {

  },

  data: () => ({
    newToDo: {id: '', content: ''},
    toDos: [],
    errors: [],
  }),

  mounted() {
    this.list();
  },

  methods: {

    //atualiza o array de ToDo's
    list(){
      ToDo.list().then(response => { 
        this.toDos = response.data; 
      }).catch(e => {
        this.errors = e.response.data.erros;
      });
    },

    save(){
      //atraves da existencia do Id verifica se está sendo requisitada a operacao add ou update
      if(!this.newToDo.id){
        ToDo.addToDo(this.newToDo.content).then(() => {
          this.newToDo.content = '',
          this.list(); 
          
      }).catch(e => {
        this.errors = e.response.data.erros;
     
        });
      }
      else{
        ToDo.updateContent(this.newToDo).then(() => {
          this.newToDo.content = '',
          this.newToDo.id = '',
          this.list();  
        }).catch(e => {
          this.errors = e.data.erros;              
        });
      }    
    },

    //atualiza o conteudo do ToDo
    updateContent(todo){
      this.newToDo = todo;
    },

    //Marca o ToDo como concluido 
    updateChecked(id){
      ToDo.updateToDo(id).then(() => {
        this.list();
        }).catch(e => {
          this.errors = e.response.data.erros;
        });
    },

    //Deleta o ToDO
    deleteToDo(id){
      ToDo.deleteToDo(id).then(() => {
        this.list();
        }).catch(e => {
          this.errors = e.response.data.erros;
        }); 
    },
  }
};
</script>
