<template>
  <v-app>
    <v-main>      
              <v-card-text>
                <transition-group name="fade">
                  <v-card class="mx-auto pa-3 ma-2 text-center" max-width="650" v-for="todo of toDoChecked" :key="todo.id">           
                    <template v-if="todo.checked==false">
                      <v-row >
                        <v-col cols="9">
                        <v-list-item-title class="headline mb-1">
                         {{todo.content}}
                        </v-list-item-title>
                        </v-col>

                        <v-col cols="1">
                          <v-btn icon  color="red" v-on:click="updateChecked(todo.id)" >
                            <v-icon >mdi-checkbox-marked-outline</v-icon>
                          </v-btn>
                        </v-col>
                        <v-col cols="1">
                          <v-btn icon color="red" v-on:click="deleteToDo(todo.id)">
                            <v-icon >mdi-delete</v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                    </template>    
                    <template v-if="todo.checked==true">
                      <v-row>
                        <v-col cols="9">
                        <v-list-item-title class="headline mb-1">
                         {{todo.content}}
                        </v-list-item-title>
                        </v-col>
                        <v-col cols="1">
                          <v-btn icon color="red" v-on:click="updateChecked(todo.id)">
                            <v-icon >mdi-checkbox-marked</v-icon>
                          </v-btn>
                        </v-col>
                        <v-col cols="1">
                          <v-btn icon color="red" v-on:click="deleteToDo(todo.id)">
                            <v-icon >mdi-delete</v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                    </template>
                  </v-card>
                </transition-group>    
              </v-card-text>         
    </v-main>
  </v-app>
</template>

<script>

import ToDo from '../services/toDo';

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    toDoChecked: [],
    errors: []
  }),

  mounted() {
    this.listAll();
  },

  methods: {

    //atualiza o array de ToDo's
    listAll(){
      ToDo.listAll().then(response => { 
        this.toDoChecked = response.data; 
      }).catch(e => {
        this.errors = e.response.data.erros;
      });
    },

    //Marca o ToDo como concluido 
    updateChecked(id){
      ToDo.updateToDo(id).then(() => {
        this.listAll();
        }).catch(e => {
          this.errors = e.response.data.erros;
        });
    },

    //Deleta o ToDO
    deleteToDo(id){
      ToDo.deleteToDo(id).then(() => {
        this.listAll();
        }).catch(e => {
          this.errors = e.response.data.erros;
        }); 
    },
  }
};
</script>
