<template>
  <v-app>
    <v-main>      
              <v-card-text>
                <transition-group name="fade">
                  <v-card class="mx-auto pa-3 ma-2 text-center" max-width="650" v-for="todo of toDoChecked" :key="todo.id">           
                    <v-row>
                      <v-col cols="9">
                       <v-list-item-title class="headline mb-1">
                         {{todo.content}}
                       </v-list-item-title>
                      </v-col>
                      <v-col cols="1">
                        <v-btn icon color="red" v-on:click="updateChecked(todo.id)">
                          <v-icon >mdi-checkbox-marked</v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="1">
                        <v-btn icon color="red" v-on:click="deleteToDo(todo.id)">
                          <v-icon >mdi-delete</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card>
                </transition-group>    
              </v-card-text>         
    </v-main>
  </v-app>
</template>

<script>

import ToDo from '../services/toDo';

export default {
  name: 'App',

  components: {

  },

  data: () => ({
    toDoChecked: [],
    errors: []
  }),

  mounted() {
    this.listDone();
  },

  methods: {

     //atualiza o array de ToDo's
    listDone(){
      ToDo.listChecked().then(response => { 
        this.toDoChecked = response.data; 
      }).catch(e => {
        this.errors = e.response.data.erros;
      });
    },

    //Marca o ToDo como concluido 
    updateChecked(id){
      ToDo.updateToDo(id).then(() => {
        this.listDone();
      }).catch(e => {
        this.errors = e.response.data.erros;
      });

    },

    //Deleta o ToDO
    deleteToDo(id){
      ToDo.deleteToDo(id).then(() => {
        this.listDone();
      }).catch(e => {
        this.errors = e.response.data.erros;
      }); 
    },
  }
};
</script>
