<template>
  <v-app>
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="6" md="6">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>ToDo List</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ }">
                    <router-link to="/listall">
                      <v-btn  icon  >
                        All
                      </v-btn>
                    </router-link>
                    <router-link to="/listdone">
                      <v-btn  icon  >
                        Done
                      </v-btn>
                    </router-link>
                    <router-link to="/">
                      <v-btn  icon   >
                        ToDo
                      </v-btn>
                    </router-link>
                  </template>          
                </v-tooltip>
              </v-toolbar>              
              <v-card-text>
                <router-view/>
              </v-card-text> 
            </v-card>
          </v-col>
        </v-row>
      </v-container>   
    </v-main>
  </v-app>
</template>
<script>

export default {
  name: 'App',

  components: {

  },

  data: () => ({}),

  mounted() {},

  methods: {}

};
</script>
